.layoutHeader {
	background: white;

	padding: 0;
	display: flex;
	flex-direction: row;

	box-shadow: #ccc 0 0 5px 0;
	z-index: 1;

	border-left: 1px solid #eee;

	.layoutHeader-pageTitle {
		display: flex;
		align-items: center;
		height: 64px;
		flex-grow: 1;
	}

	.layoutHeader-user {
		margin-right: 10px;
		padding: 10px;
		display: flex;
		align-items: center;
	}
}
