#app {
	height: 100%;
	display: flex;
	overflow: hidden;

	user-select: none;

	.layoutLoader {
		position: absolute;
		background: white;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: all 0.5s;
	}

	.layoutWrapper {
		display: flex;
		flex-direction: column;

		.layoutWrapper-content {
			flex-grow: 1;
			overflow-y: auto;
			background: white;
			border-radius: 5px;

			padding: 20px;
		}
	}
	.layoutWrapper-footer {
		text-align: center;
	}
}
