.layoutSider {
	.layoutSider-wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;

		box-shadow: 0 0 5px 0 #ccc;

		.layoutSider-logo {
			align-items: center;
			box-shadow: #ccc 0 0 5px 0;
			display: flex;
			font-size: 20px;
			font-weight: 100;
			height: 64px;
			justify-content: center;
			letter-spacing: 3px;
			width: 200px;
			z-index: 1;
		}

		.layoutSider-nav {
			flex-grow: 1;
		}

		.layoutSider-themeToggler {
			text-align: center;
			padding: 10px;
		}
	}
}
